<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="./css/product.css">
  </head>
  <body>
    <div id="app" >
      <div class="container">
        <div class="row py-3">
          <div class="col-md-6">
            <h2>產品列表</h2>
            <table class="table table-hover mt-4">
              <thead>
                <tr>
                  <th width="150">產品名稱</th>
                  <th width="120">原價</th>
                  <th width="120">售價</th>
                  <th width="150">是否啟用</th>
                  <th width="120">查看細節</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="product in products" :key="product.id">
                  <td width="150">{{ product.title }}</td>
                  <td width="120">{{ (product.origin_price).toLocaleString() }}</td>
                  <td width="120">{{ (product.price).toLocaleString() }}</td>
                  <td width="150">
                    <div class="form-check form-switch">
                      <input v-model="product.is_enabled" class="form-check-input me-sm-2" type="checkbox" :id="product.id" :true-value=1 :false-value=0>
                      <label v-if="product.is_enabled" class="form-check-label d-none d-sm-block " :for="product.id">啟用</label>
                      <label v-else class="form-check-label d-none d-sm-block " :for="product.id">未啟用</label>
                    </div>
                  </td>
                  <td width="120">
                    <button
                      type="button"
                      class="btn btn-primary"
                      @click="productSelect(product)"
                    >
                      查看細節
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
            <p>目前有 <span>{{ Object.keys(products).length }}</span> 項產品</p>
          </div>
          <div class="col-md-6">
            <h2>單一產品細節</h2>
            <template v-if="tempSelect.is_enabled">
              <div class="card mb-3">
                <img
                  :src="tempSelect.imageUrl"
                  class="card-img-top primary-image"
                  alt="主圖"
                />
                <div class="card-body">
                  <h5 class="card-title">
                    {{ tempSelect.title }}
                    <span class="badge bg-primary ms-2"
                      >{{ tempSelect.category }}</span
                    >
                  </h5>
                  <p class="card-text">
                    商品描述：{{ tempSelect.description }}
                  </p>
                  <p class="card-text">商品內容：{{ tempSelect.content }}</p>
                  <div class="d-flex">
                    <p class="card-text me-2">{{ (tempSelect.price).toLocaleString() }}</p>
                    <p class="card-text text-secondary">
                      <del>{{ (tempSelect.origin_price).toLocaleString() }}</del>
                    </p>
                    {{ tempSelect.unit }} / 元
                  </div>
                </div>
              </div>
              <template
                v-for="(image,index) in tempSelect.imagesUrl"
                :key="index"
              >
                <img :src="image" alt="" class="images m-2" />
              </template>
            </template>
            <p class="text-secondary" v-else>請選擇一個商品查看</p>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.9.1/axios.min.js"></script>
    <script src="./js/product.js" type="module"></script>

  </body>
</html>
